# Logs
logs
*.log
npm-debug.log*

**node_modules
.DS_Store
dist
dist-ssr
coverage
*.local


# Editor directories and files

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore .env
.env

apps/_core/Email/flowdeck_token.json
apps/_core/Email/flowdeck_credentials.json
